body {
  background:rgba(55,98,127,0.5);
  font: 13px 'Lucida sans', Arial, Helvetica;
  color: #eee;
  text-align: center;
}
.clear {
  clear: both;
}
.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 50px auto;
  background: #444;
  background: rgba(0, 0 , 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.form-wrapper input {
  width: 340px;
  height: 39px;
  font-size: 14px;
  padding: 10px;
  float: left;    
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}

.form-wrapper input:focus {
  outline: 0;
  background: #FFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}  

.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, 0.3);
  outline: none;
}   
.form-wrapper button .fa-spinner {
  display: none;
  top: 13px;
  right: 0px;
  left: 0px;
}
  
.form-wrapper button:hover{   
  background: #e54040;
} 
  
.form-wrapper button:active,
.form-wrapper button:focus{   
  background: #c42f2f;    
}

.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.results {
  width: 1024px;
  margin: 0 auto;
}
.results ul{
  padding: 0px;
  margin: 0px;
}
.results ul li{
  list-style: none;
}
.results li.item {
  width: 250px;
  padding: 10px;
  display: inline-table;
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  color: #999;
  margin: 10px 7px;
}
.results li.item .image-container {
  width: 100%;
  height: 228px;
  position: relative;
}
.results li.item .image-container img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.results .counter {
  display: none;
  text-align: left;
  font-size: 16px;
}
.results li.item h2 {
  font-size: 16px;
  font-weight: normal;
  padding: 0px;
  margin: 5px;
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.results li.item .details {
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.results li.item .details a{
  color: #6262ca;
}
.results li.item .date{
  text-align: right;
  font-size: 10px;
}